.filters {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 100px;
    margin-top: 9px;
}

.filter-item {
    border: 1px solid #415165;
    border-radius: 5px;
    background: transparent;
    font-size: 17px;
    align-items: flex-start;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.filter-item.active {
    color: #BA9D5A;
    border: 1px solid #BA9D5A;
    border-radius: 0 0 5px 5px
}

.filters .filter {
    padding: 17px 12px;
}

#filter {
    margin-left: 23px;
    position: relative;
    width: 164px;
}

.filter-item.active .filter-popup {
    display: block;
}

.filter-item .filter-header {
    padding: 8px 17px;
    display: block;
    color:#fff;
    text-decoration: none;
}

#sort .filter-header {
    width: 166px;
}

.filter-popup {
    position: absolute;
    top: 100%;
    margin-top: 3px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #BA9D5A;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    white-space: nowrap;
    min-width: 100%;
    box-sizing: border-box;
}

.filter-main-items {
    overflow-y: scroll;
}

.filter-popup_item {
    line-height: 36px;
    padding: 0 17px;
    font-size: 15px;
    display: block;
    color: #001424;
    text-decoration: none;
}

.filter-popup_item:hover {
    background-color: #BA9D5A;
}

.filter-popup .reset-filter {
    border-top: 4px solid rgba(186, 157, 90, 0.5);
    background-color: #233345;
    color: #C1D2E9;
    text-align: center;
}
